<div fxLayout="column" fxLayoutAlign="center center">
    <div class="info-text">
        <h2>Laivatutka</h2>
        <p class="mat-body">Saimaan kanavan laivoja seuraava tutka, näyttää myös matkan ja ajan valitulle sululle</p>
        <p>Näyttää laivat, jotka ovat</p>
        <ul>
            <li>Saimaan kanavan alueella</li>
            <li>Laiva ei ole "Ankkurissa" tai "Kiinnitettynä" vaan liikkuu</li>
        </ul>
        <mat-divider></mat-divider>

        <h4>Mistä tiedot tulevat?</h4>
        <p>Laivan perustiedot ja sijainti saadaan <a target="_blank"
                href="https://www.digitraffic.fi/">Digitrafficin</a> avoimen datan rajapinnan
            kautta.</p>
        <p>Joitakin lisätietoja mm. laivan kuva, saadaan ulkopuoliselta sivustolta.</p>
        <p>Laivoissa käytetään <a target="_blank"
                href="https://fi.wikipedia.org/wiki/AIS-j%C3%A4rjestelm%C3%A4">AIS-järjestelmää</a>, joka
            lähettää tietoa mm. laivan sijainnista. </p>

        <mat-divider></mat-divider>

        <h4>Käytetyt teknologiat</h4>
        <p>Angular, Typescript, Firebase, Digitrafficin REST ja MQTT Websocket rajapinnat</p>
        <mat-divider></mat-divider>

        <h4>Tekijä</h4>
        <p>Henrikki Helander: <a target="_blank" href="https://www.linkedin.com/in/henrikki-helander/">Lisää tietoa
                tekijästä</a></p>
    </div>
</div>