img {
    width: auto;
    max-width: 300px;
}

.mat-card-content {
    text-align: center;
}

.mat-card-header {
    margin-bottom: 1em;
}

.mat-card {
    min-height: 560px;
    min-width: 300px;
    margin: 0 20px 20px;
}