@import "/src/styles.scss";

$toolbar-height: 80px;

.mat-toolbar {
    background-color: rgba(255, 255, 255, 0.25);
    padding: 0;
    margin: 15px 15px 2em;
    height: $toolbar-height;
}

.mat-form-field {
    max-height: $toolbar-height;
    margin-right: 50px;
}

div {
    max-width: calc(100% - 30px);
}

.menu-icon {
    margin-left: 20px;
}

a {
    color: rgba(0, 0, 0, 0.5);
    text-decoration: none;
    margin: 0 1em;
}

.active {
    color: rgba(0, 0, 0, 1);
    text-decoration: underline;
}

a:hover {
    color: rgba(0, 0, 0, 1);
}

.mat-drawer-container  {
    background-color: transparent;
}
