@import "/src/styles.scss";

.mat-toolbar {
    background-color:rgba(255, 255, 255, 0.25);
    padding: 0;
    margin: 15px 15px 2em;
}

div {
    max-width: calc(100% - 30px);
}

a {
    color: rgba(0,0,0,0.5);
    text-decoration: none;
    margin: 0 1em;
}

.active {
    color: rgba(0,0,0,1);
    text-decoration: underline;
}

a:hover {
    color: rgba(0,0,0,1);
}