<div fxLayout="row" fxLayoutAlign="space-between start">
    <div *ngIf="ships.length > 0" fxFlex="30" fxLayout="column" fxLayoutAlign="start center">
        <app-ship-detail [ship]="selectedShip"></app-ship-detail>
        <!-- <h2>Other ships</h2>
        <ng-container *ngFor="let ship of ships | slice:1">
            <app-ship-detail [ship]="ship"></app-ship-detail>
        </ng-container> -->
    </div>
    <div fxFlex="70">
        <app-maps [ships]="ships" (shipClicked)="changeSelectedShip($event)"></app-maps>
    </div>

</div>
<div *ngIf="!ships">
    <p>Sorry no ship in the canal</p>
</div>